header{
    /* display: flex;
    align-items: center;
    background-color: aliceblue;
    border: 1px black solid;
    font-size: 30px;
    height: 85px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(143, 143, 202);
    font-size: 40px;
    color: white;
    padding: 30px;
    padding: 20px;
}
header ul{
    list-style-type: none;
}
header .nav {
    display: flex;
    margin-left: -20px;

}
header ul li{
    display: inline;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    width: 500px;
}
header ul li a{
    margin-left: 100px;

}
header .nav a {
    color: white;
}
            .logout{
                margin-left: 800px;
            }

.container{
    margin: auto;
}
