<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <title>Admin Controls</title>
</head>
<body>
    <header>
        <h1>DoodleBook</h1>
    <div class="nav">
        <p>Welcome <a href="">User</a>!</p>
        <a href="/logout">Logout</a>
    </div>
    </header>

    <div class = 'container'>
        <table>
            <tr>
                <td><a href = "#">Users Name (link)</a></td>
                <td>Email</td>
                <td>Created on:</td>
                <td>User Level</td>
                <td>Actions</td>
            </tr>
            <tr>
                <td>The first user</td>
                <td>user@gmail.com</td>
                <td>february 21, 2021</td>
                <td>Noobie</td>
                <td><a href = "#">Delete</a> | <a href = "#">Edit</a> | <a href = "#">View</a> </td>
            </tr>
            <tr>
                <td>A-dawg</td>
                <td>nella@gmail.com</td>
                <td>february 21, 2021</td>
                <td>DoodleBook Creator</td>
                <td><a href = "#">Delete</a> | <a href = "#">Edit</a> | <a href = "#">View</a> </td>
            </tr>
        </table>
    </div>
</body>