<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <title>Admin Controls</title>
</head>
<body>
    <header>
        <h1>DoodleBook</h1>
        <div class="nav">
            <p>Welcome <a href="profile/{{request.session.userID}}">{{user.first_name}}</a>!</p>
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
    <div class = 'container'>
        <h1>Users</h1>
        <table>
            <tr>
                <th>User's Name</a></th>
                <th>Email</th>
                <th>Created on:</th>
                <th>User Level</th>
                <th>Actions</th>
            </tr>
            {% for user in users.all %}
            <tr>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created_at}}</td>
                {%if user.user_level == 0%}
                <td>Regular User</td>
                {% else %}
                <td>Admin</td>
                {% endif %}
                <td><a href = "/delete/{{user.id}}">Delete</a> | <a href = "/admin_edit/{{user.id}}">Edit</a> | <a href = "/profile/{{user.id}}">View</a> </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
