<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_edit.css' %}">
    <title>Admin Controls</title>
</head>

<body>
    <header>
        <h1>DoodleBook</h1>
        <div class="nav">
            <p>Welcome <a href="">User</a>!</p>
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
    <div class = 'container'>
        <form action = "#" method = "POST">
            {% csrf_token %}
            <h1>Edit User Below..</h1>
            <label>Change Username:</label>
            <input type = "text" name = "username">
            <label>Change Email:</label>
            <input type = "text" name = "email">
            <label>Change Password:</label>
            <input type = "password" name = "password">
            <label>Confirm Change Password:</label>
            <input type="password" name="confirmPassword">
            <div class="admin">
                <label for="allowAdmin">Allow Admin Role:</label>
                <input type="radio" id="allowAdmin" name="gender" value="1">
            </div>
            <input class="notDelete" type = "submit" value = "Make Changes">
            <input class="delete" type = "submit" formaction="/deleteUser" value = "Delete User">
        </form>
    </div>
</body>
