<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_edit.css' %}">
    <title>Admin Controls</title>
</head>

<body>
    <header>
        <h1>DoodleBook</h1>
        <div class="nav">
            <p>Welcome <a href="">User</a>!</p>
            <a href="/logout">Logout</a>
        </div>
    </header>
    <input class ="return" type = "submit" value = "return to dashboard">
    <div class = 'container'>
        <h1>Edit User Below..</h1>
        <form action = "#" method = "POST">
            <label>Change Username:</label>
            <input type = "text" name = "username">
            <label>Change email:</label>
            <input type = "text" name = "email">
            <label>Change password:</label>
            <input type = "text" name = "password">

            <input class = 'submit' type = "submit" value = "make changes">
            <input class = 'delete' type = "submit" value = "delete user">
        </form>
    </div>
</body>