<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script type ="text/javascript" src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Document</title>
</head>
<header>
    <h1>DoodleBook</h1>
    <div class="nav">
        <p>Welcome <a href="">{{user.first_name}}</a>!</p>
        <a href="/logout">Logout</a>
    </div>
</header>
<body>
    <div class="container">
        <form action = "#" method = "POST">
            {% csrf_token %}
            <h2>Create a Blog</h2>
            <textarea></textarea>

            
            <div class ="field">
                <canvas id="canvas"></canvas>
                <div class ="tools">
                    <button type = "button" class = "button">Undo</button>
                    <button onClick="clear_canvas()" type = "button" class = "button">Clear</button>

                    <div onclick="change_Color(this)" class="color-field" style="background: red;"></div>
                    <div onClick="change_color(this)" class="color-field" style="background: green;"></div>
                    <div onClick="change_color(this)" class="color-field" style="background: blue;"></div>
                    <div onClick="change_color(this)" class="color-field" style="background: yellow;"></div>

                    <input oninput="draw_color = this.value" type="color" class ="color-picker">
                    <input type="range" min="1" max="100" class="pen-range"
                            oninput="draw_width = this.value">
                </div>
            </div>



            <div class="submit">
                <input type="submit" value="Post">
            </div>
        </form>
    </div>
    <div class="blogs">
        <div>
            <h1>Blogs</h1>
            <div class = "bloginfo">
                {% for blog in blogs %}
                    <h2>{{blog.title}}</h2>
                    <div class = "name_created">
                        <h3>By: {{blog.author.first_name}} {{blog.author.last_name}}</h3>
                        <p>{{blog.created_at}}</p>
                    <p class = "description">{{blog.desc}}</p>
                {% endfor %}
                <h4>Comments:</h4>
                {% for comment in comments %}
                    <div class ="comment_section">
                        <p class = 'commenter'>{{comment.posted_by.first_name}} said:</p>
                        <p>Hey Allen, Those are some sick lines, forget software engineering and pursue that dream of becoming the best rap artist ever!</p>
                        <p>!{{comment.description}}!</p>
                    </div>
                    <form action="/postComment" method="POST">
                        <textarea class="comment_here"></textarea>
                        <input class="commentSubmit" type="submit" value="Post Comment">
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
