<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_user.css' %}">
    <title>User Controls</title>
</head>

<body>
    <header>
        <h1>DoodleBook</h1>
        <div class="nav">
            <p>Welcome <a href="">User</a>!</p>
            <a href="">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
    <div class = 'container'>
        <h1>Edit User Below..</h1>
        <form action = "#" method = "POST">
            {% csrf_token %}
            <div>
                <label>Change Username:</label>
                <input type = "text" name = "username">
                <label>Change First Name:</label>
                <input type = "text" name = "firstname">
                <label>Change Last Name:</label>
                <input type = "text" name = "lastname">
                <label>Change Email:</label>
                <input type = "text" name = "email">
                <label>Change Password:</label>
                <input type = "password" name = "password">
                <label>Confirm Changed Password:</label>
                <input type = "password" name = "password_confirmation">
                <h1>Edit Bio</h1>
                <textarea></textarea>
                <input class="submit" type = "submit" value = "Make Changes">
            <div>
        </form>
    </div>
</body>
