<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/scripts.js' %}"></script>
    </head>
    <header>
        <h1>DoodleBook</h1>
        <h4>Blog all day</h4>
    </header>
    <body>
        <div class="container">
            <form action="/register" method="POST">
                {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
                {% csrf_token %}
                <h2>Hello new user! Please register.</h2>
                <div class="row">
                    <label>First Name</label>
                    <input type="text" name="firstName">
                </div>
                <div class="row">
                    <label>Last Name</label>
                    <input type="text" name="lastName">
                </div>
                <div class="row">
                    <label>Email</label>
                    <input type="text" name="email">
                </div>
                <div class="row">
                    <label>Password</label>
                    <input type="password" name="password">
                </div>
                <div class="row">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPW">
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
    </body>
</html>